<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
      <%#= cl_image_tag("test", width: 1300, height: 150, crop: :fill) %>
     <%= render 'shared/navbar' %>
     <%= render 'shared/flashes' %>
     <%= yield %>
     <%= render 'shared/footer' %>
     <%= javascript_include_tag 'application' %>
  <!-- #content -->
    <!-- #footer -->
  </body>
</html>




